*{
    font-family: sans-serif;
      margin: 0px;
      padding: 0px;
  }
  .anchor{
    padding-left: 5.5rem;
  }
  .topnav {
      background-color: #333;
      overflow: hidden;
    }
    .topnav a {
      float: left;
      display: block;
      color: rgb(119, 113, 113);
      text-align: center;
      padding: 14px 12px;
      text-decoration: none;
      font-size: 15px;
    }
    .topnav a:hover {
      background-color: rgb(119, 113, 113);
      color: black;
    }
    .gridcontainer{
      padding: 4rem 6rem;
    }
    .mainbox{
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 18px;
        
    }
    .box3{
      margin-top: 10px;
      border: 1px solid rgb(212, 210, 210);
      border-radius: 4px;
      padding: 4px;
    }
    .imgdesign{
      width: 100%;
    }
    .box1{
      display: flex;
      flex-direction: column;
      background-color: rgb(238, 235, 235);
      padding: 3rem;
      border-radius: 5px;
    }
    .head{
      font-weight: 500;
      font-size: 58px;
      color: #333;
    }
    .btn{
      background-color: #2087af;
      width: 7rem;
      font-size: 15px;
      color: white;
      padding: 8px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }
    .btn2{
      background-color: #2087af;
      width: 5rem;
      font-size: 14px;
      color: white;
      padding: 7px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }
    .btn3{
        width: 5rem;
        font-size: 14px;
        font-weight: 100;
        padding: 7px;
        background-color: white;
        color: #333;
        border-radius: 4px;
        border: 1px solid rgb(173, 171, 171);
        cursor: pointer;
    }
    .para{
      font-size: 20px;
      padding-bottom: 15px;
      line-height: 1.75rem;
      color: #333;
    }
    .line{
      margin-top: 2rem;
      height: 2px;
      background-color: #f9f6f6;
      border: none;
    }
    .head2{
      padding-top: 2rem;
      font-weight: 400;
      color: rgb(61, 61, 61);
    }
    .head3{
      text-align: center;
      font-weight: 400;
      padding-top: 20px;
      color: rgb(61, 61, 61);
    }
    .para2{
      width: 84%;
      text-align: center;
      padding-top: 14px;
      font-size: 14px;
      line-height: 1.2rem;
      color: rgb(61, 61, 61);
      margin-left: 21px;
    }
    .footer{
      color:grey;
      padding-top: 3rem;
      font-size: 15px;
    }
    .line2{
      width: 100%;
      margin-top: 4rem;
      height: 2px;
      background-color: #f9f6f6;
      border: none;
    }
    .mainbtn{
     text-align: center;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    @media only screen and (max-width:500px){
      .mainbox{
          display: flex;
          flex-direction: column;
          justify-content:space-evenly;
      }
      .gridcontainer{
        padding: 2rem 3rem;
      }
      .anchor{
        padding-left: 2.5rem;
      }
      .head{
        font-size: 35px;
      }
      .para{
        font-size: 14px;
      }
      .box1{
        padding: 1rem;
      }
      .head2{
        font-size: 19px;
      }
      .head3{
        font-size: 19px;
      }
     
    }
    @media  (min-width:558px)and (max-width:945px){
      .mainbox{
        display: grid;
        grid-template-columns: auto auto;
        gap: 18px;
      }
      .head{
        font-size: 45px;
      }
      .para{
        font-size:18px;
      }
      .gridcontainer{
        padding: 3rem 4rem;
      }
      .anchor{
        padding-left: 3.5rem;
      }
    }
    @media  (min-width:500px)and (max-width:558px){
      .mainbox{
        display: grid;
        grid-template-columns: auto auto;
        gap: 18px;
      }
      .head{
        font-size: 40px;
      }
      .para{
        font-size:17px;
      }
      .head2{
        font-size: 20px;
      }
      .head3{
        font-size:20px ;
      }
      .para2{
        font-size: 12px;
        line-height: 1rem;
      }
      .btn2{
        margin-bottom: 2px;
      }
      .gridcontainer{
        padding: 3rem 4rem;
      }
      .anchor{
        padding-left: 3.5rem;
      }
    }
   